---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import '../assets/styles/global.css';
import logo from '../assets/img/logoCumtual.svg';
import Layout from "../layouts/Layout.astro";
import { param } from "jquery";
import { render } from "astro:content";

export async function getStaticPaths(){
    const proyectos = await getCollection("proyectos");

    return proyectos.map((proyecto) => ({
        params:{id: proyecto.slug},
        props:{ proyecto }
    }))
}

const { proyecto } = Astro.props
const { data } = proyecto
const { title, company, img, description } = data
const { Content } = await render(proyecto)
---

<section class="relative w-full overflow-hidden">

    <div class=" bg-white fixed top-0 left-0 w-full text-black z-50 ">
      <div class=" max-w-7xl mx-auto px-4 py-3 border-b border-gray-400">
        <div class="flex items-center justify-between">
          <!-- Logo o título del sitio -->
         <a href="/"><img src={logo.src} alt="Icono SVG"></a>       
          <!-- Menú de navegación -->
          <nav class="space-x-6 hidden lg:flex">
            <a href="/proyectos" class="hover:text-gray-400 transition duration-300">PROYECTOS</a>
            <a href="#contacto" class="hover:text-gray-400 transition duration-300">CONTACTO</a>
            <a href="#sobre-nosotros" class="hover:text-gray-400 transition duration-300">SOBRE NOSOTROS</a>
          </nav>
          
          <!-- Botón de menú para dispositivos móviles -->
          <button class="lg:hidden text-xl" id="menu-toggle">☰</button>
        </div>
          
      </div>
    
        <!-- Menú móvil (oculto por defecto) -->
        <div id="mobile-menu" class="lg:hidden fixed inset-0 bg-black bg-opacity-50 z-40 hidden">
        <div class="flex justify-end p-4">
          <button id="close-menu" class="text-white text-2xl">×</button>
        </div>
        <div class="flex flex-col items-center space-y-4 py-6">
          <a href="/proyectos" class="text-white hover:text-gray-400 transition duration-300">PROYECTOS</a>
          <a href="#contacto" class="text-white hover:text-gray-400 transition duration-300">CONTACTO</a>
          <a href="#sobre-nosotros" class="text-white hover:text-gray-400 transition duration-300">SOBRE NOSOTROS</a>
        </div>
      </div>
      </div>
     

        <div class="relative mt-48 text-center font-extrabold">
          <h1 class="font-serif">PROYECTOS</h1>
          <div class="p-5 md:p-10">
              <div class="colums-1 gap-5 lg:gap-8 sm:columns-2 lg:columns-3 xl:columns-3 [&>img:not(:first-child)]:mt-5 lg:[&img:not(:first-child)]:mt-8">
                 
          </div>              
        </div>         
  </section>



