---
import { BurguerMenu } from "./BurguerMenu";
import { Slider } from "./Slider";
import CumtualSVG from "./CumtualSVG.astro";
---

<div class=" p-[30px] bg-transparent fixed top-0 left-0 w-full text-black z-50 transition-all duration-100 cursor-pointer" id="menu">
    <div class="max-w-7xl mx-auto px-4 py-3 border-b border-gray-400">
    <div class="flex justify-between items-center text-bg-gray-cumtual">
        <a href="/">
          <div class="flex items-center">
            <CumtualSVG />
            <p class="text-gradient text-xl font-bold">Raices</p>
          </div>
        </a>
        <div>
          <nav class="block md:hidden">
            <BurguerMenu client:load />
            <Slider client:load />
          </nav>
          <nav class="hidden md:flex gap-5">
            <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Nosotros</a>
            <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Anuncios</a>
            <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Blog</a>
            <a href="#" class="hover:text-[#000] hover:font-bold ease-in-out duration-200 delay-100">Contacto</a>
          </nav>
        </div>
      </div>
</div>
</div>


<script>
  window.addEventListener("scroll", function () {
    const header = document.getElementById("menu");
    if (window.scrollY > 0) {
    //   header?.classList.add("bg-[#FFF]", "shadow-lg", "transition-all", "duration-500", "ease-out");
      header?.classList.remove("bg-transparent");
    } else {
       header?.classList.remove("bg-[#FFF]", "shadow-lg");
    //   header?.classList.add("bg-transparent");
    }
  });
</script>
