---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import diseno from '../assets/videos/disenointeriores.mp4';
import '../assets/styles/global.css';
---


<section class="relative w-full h-screen overflow-hidden">
  <!-- Video de fondo -->
  <video class="absolute inset-0 w-full h-full object-cover" autoplay loop muted playsinline>
    <source src={diseno} type="video/mp4">
    Tu navegador no soporta la reproducción de videos.
  </video>

  <!-- Capa oscura sobre el video (opcional) -->
  <div class="absolute inset-0 bg-black opacity-50"></div>

  <!-- Contenido sobre el video -->

  <div class="absolute inset-0 flex justify-center items-center text-white text-center p-4">
    <div>
      <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">Bienvenido a mi sitio web</h1>
      <p class="text-lg md:text-xl mb-6">Explora el contenido y descubre más sobre nuestros servicios</p>
      <a href="#next-section" class="px-6 py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700 transition duration-300">Comienza aquí</a>
    </div>
  </div>
 
</section>



