@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* src/styles/global.css */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #ffff;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  @apply overflow-x-hidden;
}


@layer base {
    p {
      font-family: 'Open Sans', sans-serif;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 4s ease-out forwards;
  }


/* body{
    @apply grid place-content-center p-20;
} */
.slides-container {
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}
.slides-container::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
