@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
}

/* src/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


@layer base {
    p {
      font-family: 'Open Sans', sans-serif;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .animate-fade-in {
    animation: fadeIn 4s ease-out forwards;
  }

  

  


/* body{
    @apply grid place-content-center p-20;
} */

