---
const {pageTitle} = Astro.props;
import { ClientRouter } from 'astro:transitions';
import Header from "@components/Header.astro";
import Footer from '@components/footer.astro';
const url = new URL(Astro.url); // Obtén la URL de la página actual
const pathname = url.pathname;



---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
			
		<title>Diseño Interiores - {pageTitle}</title>
		<ClientRouter />
	</head>
	<body class="bg-transparent overflow-x-hidden">
		<Header />
		<slot/>
		{pathname !== '/' && <Footer />}
	</body>
</html>


